form {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 30px;
}

.componentDivider {
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  margin-bottom: 30px;
}

.addBookTitle {
  font-family: var(--montserrat);
  color: var(--mid-gray);
  margin-bottom: 20px;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.inputsContainer button {
  background-color: var(--blue);
}

.inputs {
  border: 1px solid #e8e8e8;
  width: 40%;
}

.addBookBtn {
  border: none;
  align-self: center;
  background-color: var(--blue);
  font-family: var(--roboto);
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  width: 130px;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
}

.addBookBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  form {
    padding: 20px 20px 80px 20px;
  }

  .addBookTitle {
    text-align: center;
    font-size: 1.3rem;
  }

  .inputsContainer {
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 100%;
  }

  .addBookBtn {
    margin-top: 25px;
  }
}
